---
page_title: "rudderstack_account_source_bigquery Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_account_source_bigquery (Resource)

This resource represents a BigQuery rETL account for storing warehouse credentials used in reverse-ETL pipelines. For more information check
https://www.rudderstack.com/docs/sources/reverse-etl/google-bigquery/

## Example Usage

{{tffile "examples/account_source_bigquery.tf"}}

{{ .SchemaMarkdown | trimspace }}
