---
page_title: "rudderstack_connection Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_connection (Resource)

This resource represents a connection between a Rudderstack Source and Destination.

## Example Usage

{{tffile "examples/main.tf"}}

{{ .SchemaMarkdown | trimspace }}
