---
page_title: "rudderstack_destination_google_ads Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_destination_google_ads (Resource)

This resource represents a Google Ads destination. For more information check 
https://www.rudderstack.com/docs/destinations/advertising/g-ads-gtag

## Example Usage

{{tffile "examples/destination_google_ads.tf"}}

{{ .SchemaMarkdown | trimspace }}
