---
page_title: "rudderstack_destination_vwo Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_destination_vwo (Resource)

This resource represents a VWO destination. For more information check 
https://www.rudderstack.com/docs/destinations/testing-and-personalization/vwo-beta-visual-website-optimizer

## Example Usage

{{tffile "examples/destination_vwo.tf"}}

{{ .SchemaMarkdown | trimspace }}
