---
page_title: "rudderstack_destination_sentry Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_destination_sentry (Resource)

This resource represents a Sentry destination. For more information check 
https://www.rudderstack.com/docs/destinations/error-reporting/sentry

## Example Usage

{{tffile "examples/destination_sentry.tf"}}

{{ .SchemaMarkdown | trimspace }}
