---
page_title: "rudderstack_destination_snowflake Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_destination_snowflake (Resource)

This resource represents a Snowflake destination. For more information check 
https://www.rudderstack.com/docs/destinations/warehouse-destinations/snowflake/

## Example Usage

{{tffile "examples/destination_snowflake.tf"}}

{{ .SchemaMarkdown | trimspace }}
