---
page_title: "rudderstack_destination_postgres Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_destination_postgres (Resource)

This resource represents an PostgreSQL destination. For more information check 
https://www.rudderstack.com/docs/destinations/warehouse-destinations/postgresql/

## Example Usage

{{tffile "examples/destination_postgres.tf"}}

> **:warning: Breaking Change**
> 
> Note that from the provider versions 1.0.0 and above, the schema of `onetrust_cookie_categories` property has been changed. Please refer to the example above.

{{ .SchemaMarkdown | trimspace }}
