---
page_title: "rudderstack_destination_posthog Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_destination_posthog (Resource)

This resource represents a PostHog destination. For more information check 
https://www.rudderstack.com/docs/destinations/analytics/posthog

## Example Usage

{{tffile "examples/destination_posthog.tf"}}

{{ .SchemaMarkdown | trimspace }}
