---
page_title: "rudderstack_destination_braze Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_destination_braze (Resource)

This resource represents the Braze destination. For more information check 
https://www.rudderstack.com/docs/destinations/streaming-destinations/braze/

## Example Usage

{{tffile "examples/destination_braze.tf"}}

> **:warning: Breaking Change**
> 
> Note that from the provider versions 3.0.0 and above, `onetrust_cookie_categories` property is replaced with `consent_management` that supports multiple consent management providers. Please refer to the example above.

> **:warning: Breaking Change**
> 
> Note that from the provider versions 2.0.0 and above, the schema of `onetrust_cookie_categories` property has been changed. Please refer to the example above.

> **:warning: Breaking Change**
> 
> Note that from the provider versions 4.0.0 and above, 
> - the schema of `connection_mode` property has been changed.  react_native is now reactnative.
> - the schema of `data_center` property has been changed.
> 
> Please refer to the example above.

{{ .SchemaMarkdown | trimspace }}
