---
page_title: "rudderstack_destination_google_adwords_offline_conversions Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_destination_google_adwords_offline_conversions (Resource)

This resource represents a Google Ads Offline Conversions destination. For more information check
https://www.rudderstack.com/docs/destinations/streaming-destinations/google-ads-offline-conversions/

## Example Usage

{{tffile "examples/destination_google_adwords_offline_conversions.tf"}}

{{ .SchemaMarkdown | trimspace }}
