---
page_title: "rudderstack_destination_marketo Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_destination_marketo (Resource)

This resource represents the Marketo destination. For more information check 
https://www.rudderstack.com/docs/destinations/streaming-destinations/marketo/

## Example Usage

{{tffile "examples/destination_marketo.tf"}}

{{ .SchemaMarkdown | trimspace }}
