---
page_title: "rudderstack_destination_slack Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_destination_slack (Resource)

This resource represents a Slack destination. For more information check 
https://www.rudderstack.com/docs/destinations/business-messaging/slack

## Example Usage

{{tffile "examples/destination_slack.tf"}}

{{ .SchemaMarkdown | trimspace }}
