---
page_title: "rudderstack_destination_linkedin_ads Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_destination_linkedin_ads (Resource)

This resource represents a Linkedin Ads destination. For more information check
https://www.rudderstack.com/docs/destinations/linkedin-ads/

## Example Usage

{{tffile "examples/destination_linkedin_ads.tf"}}

{{ .SchemaMarkdown | trimspace }}
