---
page_title: "rudderstack_destination_confluent_cloud Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_destination_confluent_cloud (Resource)

This resource represents a Confluent Cloud destination. For more information check
https://www.rudderstack.com/docs/destinations/streaming-destinations/confluent-cloud/

## Example Usage

{{tffile "examples/destination_confluent_cloud.tf"}}

{{ .SchemaMarkdown | trimspace }}
