---
page_title: "rudderstack_destination_facebook_pixel Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_destination_facebook_pixel (Resource)

This resource represents a Facebook Pixel destination. For more information check 
https://www.rudderstack.com/docs/destinations/advertising/fb-pixel

## Example Usage

{{tffile "examples/destination_facebook_pixel.tf"}}

> **⚠️ Breaking Change**
> 
> Note that from the provider versions 2.0.0 and above, the schema of `onetrust_cookie_categories` property has been changed. Please refer to the example above.

{{ .SchemaMarkdown | trimspace }}
