---
page_title: "rudderstack_destination_qualtrics Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_destination_qualtrics (Resource)

This resource represents an Qualtrics destination. For more information check 
https://www.rudderstack.com/docs/destinations/streaming-destinations/qualtrics/

## Example Usage

{{tffile "examples/destination_qualtrics.tf"}}

{{ .SchemaMarkdown | trimspace }}
