---
page_title: "rudderstack_destination_firebase Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_destination_firebase (Resource)

This resource represents the Firebase destination. For more information check
https://www.rudderstack.com/docs/destinations/streaming-destinations/firebase/

## Example Usage

{{tffile "examples/destination_firebase.tf"}}

{{ .SchemaMarkdown | trimspace }}
