---
page_title: "rudderstack_destination_snowflake_streaming Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_destination_snowflake_streaming (Resource)

This resource represents the Snowflake Streaming destination. For more information check
https://www.rudderstack.com/docs/destinations/streaming-destinations/snowflake-streaming/

## Example Usage

{{tffile "examples/destination_snowflake_streaming.tf"}}

{{ .SchemaMarkdown | trimspace }}
