---
page_title: "rudderstack_destination_salesforce Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_destination_salesforce (Resource)

This resource represents an Salesforce destination. For more information check 
https://www.rudderstack.com/docs/destinations/streaming-destinations/salesforce/

## Example Usage

{{tffile "examples/destination_salesforce.tf"}}

{{ .SchemaMarkdown | trimspace }}
