---
page_title: "rudderstack_destination_s3 Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_destination_s3 (Resource)

This resource represents an Amazon S3 destination. For more information check 
https://www.rudderstack.com/docs/destinations/storage-platforms/amazon-s3

## Example Usage

{{tffile "examples/destination_s3.tf"}}

> **:warning: Breaking Change**
> 
> Note that from the provider versions 3.0.0 and above, `onetrust_cookie_categories` property is replaced with `consent_management` that supports multiple consent management providers. Please refer to the example above.

> **:warning: Breaking Change**
> 
> Note that from the provider versions 2.0.0 and above, the schema of `onetrust_cookie_categories` property has been changed. Please refer to the example above.

{{ .SchemaMarkdown | trimspace }}
