---
page_title: "rudderstack_destination_adobe_analytics Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_destination_adobe_analytics (Resource)

This resource represents a Adobe Analytics destination. For more information check 
https://www.rudderstack.com/docs/destinations/streaming-destinations/adobe-analytics/

## Example Usage

{{tffile "examples/destination_adobe_analytics.tf"}}

{{ .SchemaMarkdown | trimspace }}
