---
page_title: "rudderstack_destination_spotify_pixel Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_destination_spotify_pixel (Resource)

This resource represents a Spotify Pixel destination. For more information check
https://www.rudderstack.com/docs/destinations/streaming-destinations/spotify-pixel/

## Example Usage

{{tffile "examples/destination_spotify_pixel.tf"}}

{{ .SchemaMarkdown | trimspace }}
