---
page_title: "rudderstack_destination_intercom Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_destination_intercom (Resource)

This resource represents an Intercom destination. For more information check 
https://www.rudderstack.com/docs/destinations/streaming-destinations/intercom/

## Example Usage

{{tffile "examples/destination_intercom.tf"}}

> **:warning: Breaking Change**
> 
> Note that from the provider versions 2.0.0 and above, the schema of `onetrust_cookie_categories` property has been changed. Please refer to the example above.

{{ .SchemaMarkdown | trimspace }}
