---
page_title: "rudderstack_destination_reddit Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_destination_reddit (Resource)

This resource represents a Reddit destination. For more information check
https://www.rudderstack.com/docs/destinations/streaming-destinations/reddit/

## Example Usage

{{tffile "examples/destination_reddit.tf"}}

{{ .SchemaMarkdown | trimspace }}
