---
page_title: "rudderstack_destination_webhook Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_destination_webhook (Resource)

This resource represents a Webhook destination. For more information check 
https://www.rudderstack.com/docs/destinations/webhooks

## Example Usage

{{tffile "examples/destination_webhook.tf"}}

{{ .SchemaMarkdown | trimspace }}
