---
page_title: "rudderstack_destination_google_tag_manager Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_destination_google_tag_manager (Resource)

This resource represents a Google Tag Manger destination. For more information check 
https://www.rudderstack.com/docs/destinations/tag-managers/google-tag-manager/

## Example Usage

{{tffile "examples/destination_google_tag_manager.tf"}}

> **⚠️ Breaking Change**
> 
> Note that from the provider versions 1.0.0 and above, the schema of `onetrust_cookie_categories` property has been changed. Please refer to the example above.

{{ .SchemaMarkdown | trimspace }}
