---
page_title: "rudderstack_destination_postgres Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_destination_postgres (Resource)

This resource represents a POSTGRES destination. For more information check 
https://www.rudderstack.com/docs/destinations/warehouse-destinations/postgresql/

## Example Usage

{{tffile "examples/destination_postgres.tf"}}

{{ .SchemaMarkdown | trimspace }}
