---
page_title: "rudderstack_destination_bqstream Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_destination_bqstream (Resource)

This resource represents the BigQuery Stream destination. For more information check
https://www.rudderstack.com/docs/destinations/streaming-destinations/bigquery-stream/

## Example Usage

{{tffile "examples/destination_bqstream.tf"}}

{{ .SchemaMarkdown | trimspace }}
