---
page_title: "rudderstack_destination_http Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_destination_http (Resource)

This resource represents an HTTP destination. For more information check
https://www.rudderstack.com/docs/destinations/streaming-destinations/http/

## Example Usage

{{tffile "examples/destination_http.tf"}}

{{ .SchemaMarkdown | trimspace }}
