---
page_title: "rudderstack_destination_bingads_offline_conversions Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_destination_bingads_offline_conversions (Resource)

This resource represents a Bing Ads Offline Conversions destination. For more information check
https://www.rudderstack.com/docs/destinations/streaming-destinations/bingads-offline-conversions/

## Example Usage

{{tffile "examples/destination_bingads_offline_conversions.tf"}}

{{ .SchemaMarkdown | trimspace }}
