---
page_title: "rudderstack_destination_reddit_pixel Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_destination_reddit_pixel (Resource)

This resource represents a Reddit Pixel destination. For more information check
https://www.rudderstack.com/docs/destinations/streaming-destinations/reddit-pixel/

## Example Usage

{{tffile "examples/destination_reddit_pixel.tf"}}

{{ .SchemaMarkdown | trimspace }}
