---
page_title: "rudderstack_destination_iterable Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_destination_iterable (Resource)

This resource represents the Iterable destination. For more information check 
https://www.rudderstack.com/docs/destinations/streaming-destinations/iterable/

## Example Usage

{{tffile "examples/destination_iterable.tf"}}

> **⚠️ Breaking Change**
> 
> Note that from the provider versions 2.0.0 and above, the schema of `onetrust_cookie_categories` property has been changed. Please refer to the example above.

{{ .SchemaMarkdown | trimspace }}
