---
page_title: "rudderstack_destination_zendesk Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_destination_zendesk (Resource)

This resource represents a Zendesk destination. For more information check 
https://www.rudderstack.com/docs/destinations/crm/zendesk

## Example Usage

{{tffile "examples/destination_zendesk.tf"}}

{{ .SchemaMarkdown | trimspace }}
