---
page_title: "rudderstack_destination_google_analytics4 Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_destination_google_analytics4 (Resource)

This resource represents a Google Analytics 4 destination. For more information check 
https://www.rudderstack.com/docs/destinations/analytics/google-analytics-4/

## Example Usage

{{tffile "examples/destination_google_analytics4.tf"}}

> **⚠️ Breaking Change**
> 
> Note that from the provider versions 1.0.0 and above, the schema of `onetrust_cookie_categories` property has been changed. Please refer to the example above.

{{ .SchemaMarkdown | trimspace }}
