---
page_title: "rudderstack_destination_sentry Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_destination_sentry (Resource)

This resource represents a Sentry destination. For more information check 
https://www.rudderstack.com/docs/destinations/error-reporting/sentry

## Example Usage

{{tffile "examples/destination_sentry.tf"}}

> **:warning: Breaking Change**
> 
> Note that from the provider versions 2.0.0 and above, the schema of `onetrust_cookie_categories` property has been changed. Please refer to the example above.

{{ .SchemaMarkdown | trimspace }}
