---
page_title: "rudderstack_destination_redis Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_destination_redis (Resource)

This resource represents a Redis destination. For more information check 
https://www.rudderstack.com/docs/destinations/storage-platforms/redis

## Example Usage

{{tffile "examples/destination_redis.tf"}}

> **⚠️ Breaking Change**
> 
> Note that from the provider versions 2.0.0 and above, the schema of `onetrust_cookie_categories` property has been changed. Please refer to the example above.

{{ .SchemaMarkdown | trimspace }}
