---
page_title: "rudderstack_destination_amplitude Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_destination_amplitude (Resource)

This resource represents an Amplitude destination. For more information check 
https://www.rudderstack.com/docs/destinations/analytics/amplitude

## Example Usage

{{tffile "examples/destination_amplitude.tf"}}

{{ .SchemaMarkdown | trimspace }}
