---
page_title: "rudderstack_destination_mixpanel Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_destination_mixpanel (Resource)

This resource represents a MixPanel destination. For more information check 
https://www.rudderstack.com/docs/destinations/error-reporting/mixpanel

## Example Usage

{{tffile "examples/destination_mixpanel.tf"}}

{{ .SchemaMarkdown | trimspace }}
