---
page_title: "rudderstack_destination_salesforce Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_destination_salesforce (Resource)

This resource represents an Salesforce destination. For more information check 
https://www.rudderstack.com/docs/destinations/streaming-destinations/salesforce/

## Example Usage

{{tffile "examples/destination_salesforce.tf"}}

> **⚠️ Breaking Change**
> 
> Note that from the provider versions 2.0.0 and above, the schema of `onetrust_cookie_categories` property has been changed. Please refer to the example above.

{{ .SchemaMarkdown | trimspace }}
