---
page_title: "rudderstack_destination_adjust Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_destination_adjust (Resource)

This resource represents the Adjust destination. For more information check
https://www.rudderstack.com/docs/destinations/streaming-destinations/adjust/

## Example Usage

{{tffile "examples/destination_adjust.tf"}}

{{ .SchemaMarkdown | trimspace }}
