---
page_title: "rudderstack_destination_mixpanel Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_destination_mixpanel (Resource)

This resource represents a MixPanel destination. For more information check 
https://www.rudderstack.com/docs/destinations/streaming-destinations/mixpanel/

## Example Usage

{{tffile "examples/destination_mixpanel.tf"}}

> **:warning: Breaking Change**
> 
> Note that from the provider versions 4.0.0 and above, 
> - `api_secret` property has been removed. 
> - `persistence` property has been removed.
> - the schema of `super_properties` property has been changed.
> - the schema of `people_properties` property has been changed.
> - the schema of `event_increments` property has been changed.
> - the schema of `prop_increments` property has been changed.
> - the schema of `group_key_settings` property has been changed.
> - the schema of `set_once_properties` property has been changed.
> - the schema of `union_properties` property has been changed.
> - the schema of `append_properties` property has been changed.
> - the schema of `identity_merge_api` property has been changed. It is a required property now.
> Please refer to the example above.

> **:warning: Breaking Change**
> 
> Note that from the provider versions 3.0.0 and above, `onetrust_cookie_categories` property is replaced with `consent_management` that supports multiple consent management providers. Please refer to the example above.

> **:warning: Breaking Change**
> 
> Note that from the provider versions 1.0.0 and above, the schema of `onetrust_cookie_categories` property has been changed. Please refer to the example above.

> **:warning: Breaking Change**
> 
> Note that from the provider versions 4.0.0 and above, 
> - `api_secret` property has been removed. 
> - `persistence` property has been removed.
> - the schema of `super_properties` property has been changed.
> - the schema of `people_properties` property has been changed.
> - the schema of `event_increments` property has been changed.
> - the schema of `prop_increments` property has been changed.
> - the schema of `group_key_settings` property has been changed.
> - the schema of `set_once_properties` property has been changed.
> - the schema of `union_properties` property has been changed.
> - the schema of `append_properties` property has been changed.
> - the schema of `identity_merge_api` property has been changed. It is a required property now.
> Please refer to the example above.

{{ .SchemaMarkdown | trimspace }}
