---
page_title: "rudderstack_destination_customerio_audience Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_destination_customerio_audience (Resource)

This resource represents a Customer.io Audience destination. For more information check
https://www.rudderstack.com/docs/destinations/customerio-audience/

## Example Usage

{{tffile "examples/destination_customerio_audience.tf"}}

{{ .SchemaMarkdown | trimspace }}
