---
page_title: "rudderstack_destination_linkedin_insight_tag Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_destination_linkedin_insight_tag (Resource)

This resource represents an LinkedIn Insight Tag destination. For more information check 
https://www.rudderstack.com/docs/destinations/streaming-destinations/linkedin-insight-tag/

## Example Usage

{{tffile "examples/destination_linkedin_insight_tag.tf"}}

> **:warning: Breaking Change**
> 
> Note that from the provider versions 2.0.0 and above, the schema of `onetrust_cookie_categories` property has been changed. Please refer to the example above.

{{ .SchemaMarkdown | trimspace }}
