---
page_title: "rudderstack_destination_facebook_conversions Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_destination_facebook_conversions (Resource)

This resource represents a Facebook Conversions destination. For more information check
https://www.rudderstack.com/docs/destinations/advertising/facebook-conversions/

## Example Usage

{{tffile "examples/destination_facebook_conversions.tf"}}

{{ .SchemaMarkdown | trimspace }}
