---
page_title: "rudderstack_destination_s3_datalake Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_destination_s3_datalake (Resource)

This resource represents an Amazon S3 Datalake warehouse destination. For more information check 
https://www.rudderstack.com/docs/data-warehouse-integrations/s3-datalake

## Example Usage

{{tffile "examples/destination_s3_datalake.tf"}}

> **:warning: Breaking Change**
> 
> Note that from the provider versions 2.0.0 and above, the schema of `onetrust_cookie_categories` property has been changed. Please refer to the example above.

{{ .SchemaMarkdown | trimspace }}
