---
page_title: "rudderstack_destination_redshift Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_destination_redshift (Resource)

This resource represents an Amazon Redshift warehouse destination. For more information check 
https://www.rudderstack.com/docs/reverse-etl/amazon-redshift

## Example Usage

{{tffile "examples/destination_redshift.tf"}}

{{ .SchemaMarkdown | trimspace }}
