---
page_title: "rudderstack_destination_impact Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_destination_impact (Resource)

This resource represents an impact.com destination. For more information check
https://www.rudderstack.com/docs/destinations/streaming-destinations/impact/

## Example Usage

{{tffile "examples/destination_impact.tf"}}

{{ .SchemaMarkdown | trimspace }}