---
page_title: "rudderstack_destination_gcs Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_destination_gcs (Resource)

This resource represents an Google Cloud Storage data lake destination. For more information check 
https://www.rudderstack.com/docs/destinations/warehouse-destinations/gcs-datalake/

## Example Usage

{{tffile "examples/destination_gcs.tf"}}

{{ .SchemaMarkdown | trimspace }}
