---
page_title: "rudderstack_destination_google_sheets Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_destination_google_sheets (Resource)

This resource represents an Google Sheets destination. For more information check 
https://www.rudderstack.com/docs/destinations/streaming-destinations/google-sheets/

## Example Usage

{{tffile "examples/destination_google_sheets.tf"}}

> **:warning: Breaking Change**
> 
> Note that from the provider versions 3.0.0 and above, `onetrust_cookie_categories` property is replaced with `consent_management` that supports multiple consent management providers. Please refer to the example above.

> **:warning: Breaking Change**
> 
> Note that from the provider versions 2.0.0 and above, the schema of `onetrust_cookie_categories` property has been changed. Please refer to the example above.

{{ .SchemaMarkdown | trimspace }}
