---
page_title: "rudderstack_destination_active_campaign Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_destination_active_campaign (Resource)

This resource represents an Active Campaign destination. For more information check 
https://www.rudderstack.com/docs/destinations/marketing/activecampaign

## Example Usage

{{tffile "examples/destination_active_campaign.tf"}}

{{ .SchemaMarkdown | trimspace }}
