---
page_title: "rudderstack_destination_facebook_pixel Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_destination_facebook_pixel (Resource)

This resource represents a Facebook Pixel destination. For more information check 
https://www.rudderstack.com/docs/destinations/advertising/fb-pixel

## Example Usage

{{tffile "examples/destination_facebook_pixel.tf"}}

{{ .SchemaMarkdown | trimspace }}
