---
page_title: "rudderstack_destination_tiktok_ads Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_destination_tiktok_ads (Resource)

This resource represents a TikTok Ads destination. For more information check
https://www.rudderstack.com/docs/destinations/streaming-destinations/tiktok-ads/

## Example Usage

{{tffile "examples/destination_tiktok_ads.tf"}}

{{ .SchemaMarkdown | trimspace }}
