---
page_title: "rudderstack_destination_singular Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_destination_singular (Resource)

This resource represents a Singular destination. For more information check
https://www.rudderstack.com/docs/destinations/streaming-destinations/singular/

## Example Usage

{{tffile "examples/destination_singular.tf"}}

{{ .SchemaMarkdown | trimspace }}