---
page_title: "rudderstack_source_ruby Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_source_ruby (Resource)

This resource represents a Ruby event stream source. For more information check
https://www.rudderstack.com/docs/stream-sources/rudderstack-sdk-integration-guides/rudderstack-ruby-sdk

## Example Usage

{{tffile "examples/source_ruby.tf"}}

{{ .SchemaMarkdown | trimspace }}
