---
page_title: "rudderstack_source_extole Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_source_extole (Resource)

This resource represents an Extole event stream source. For more information check
https://www.rudderstack.com/docs/sources/event-streams/cloud-apps/extole/

## Example Usage

{{tffile "examples/source_extole.tf"}}

{{ .SchemaMarkdown | trimspace }}
