---
page_title: "rudderstack_source_flutter Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_source_flutter (Resource)

This resource represents an Flutter event stream source. For more information check
https://www.rudderstack.com/docs/sources/event-streams/sdks/rudderstack-flutter-sdk/

## Example Usage

{{tffile "examples/source_flutter.tf"}}

{{ .SchemaMarkdown | trimspace }}