---
page_title: "rudderstack_source_appsflyer Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_source_appsflyer (Resource)

This resource represents an AppsFlyer event stream source. For more information check
https://www.rudderstack.com/docs/sources/event-streams/cloud-apps/appsflyer/

## Example Usage

{{tffile "examples/source_appsflyer.tf"}}

{{ .SchemaMarkdown | trimspace }}
