---
page_title: "rudderstack_source_braze Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_source_braze (Resource)

This resource represents an Braze event stream source. For more information check
https://www.rudderstack.com/docs/sources/event-streams/cloud-apps/braze-currents/

## Example Usage

{{tffile "examples/source_braze.tf"}}

{{ .SchemaMarkdown | trimspace }}
