---
page_title: "rudderstack_source_rust Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_source_rust (Resource)

This resource represents an Rust event stream source. For more information check
https://www.rudderstack.com/docs/sources/event-streams/sdks/rudderstack-rust-sdk/

## Example Usage

{{tffile "examples/source_rust.tf"}}

{{ .SchemaMarkdown | trimspace }}