---
page_title: "rudderstack_source_ortto Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_source_ortto (Resource)

This resource represents an Ortto event stream source. For more information check
https://www.rudderstack.com/docs/sources/event-streams/cloud-apps/ortto/

## Example Usage

{{tffile "examples/source_ortto.tf"}}

{{ .SchemaMarkdown | trimspace }}
