---
page_title: "rudderstack_source_go Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_source_android (Resource)

This resource represents an Android event stream source. For more information check
https://www.rudderstack.com/docs/sources/event-streams/sdks/rudderstack-android-sdk/

## Example Usage

{{tffile "examples/source_android.tf"}}

{{ .SchemaMarkdown | trimspace }}
