---
page_title: "rudderstack_source_ios Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_source_ios (Resource)

This resource represents an iOS event stream source. For more information check
https://www.rudderstack.com/docs/stream-sources/rudderstack-sdk-integration-guides/rudderstack-ios-sdk/ios-v2

## Example Usage

{{tffile "examples/source_ios.tf"}}

{{ .SchemaMarkdown | trimspace }}
