---
page_title: "rudderstack_source_appcenter Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_source_appcenter (Resource)

This resource represents an App Center event stream source. For more information check
https://www.rudderstack.com/docs/sources/event-streams/cloud-apps/appcenter/

## Example Usage

{{tffile "examples/source_appcenter.tf"}}

{{ .SchemaMarkdown | trimspace }}
