---
page_title: "rudderstack_source_looker Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_source_looker (Resource)

This resource represents a Looker event stream source. For more information check
https://www.rudderstack.com/docs/sources/event-streams/cloud-apps/looker/

## Example Usage

{{tffile "examples/source_looker.tf"}}

{{ .SchemaMarkdown | trimspace }}
