---
page_title: "rudderstack_source_satismeter Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_source_satismeter (Resource)

This resource represents a SatisMeter event stream source. For more information check
https://www.rudderstack.com/docs/sources/event-streams/cloud-apps/satismeter/

## Example Usage

{{tffile "examples/source_satismeter.tf"}}

{{ .SchemaMarkdown | trimspace }}
