---
page_title: "rudderstack_source_webhook_shopify Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_source_webhook_shopify (Resource)

This resource represents a Shopify event stream source. For more information check
https://www.rudderstack.com/docs/stream-sources/shopify

## Example Usage

{{tffile "examples/source_webhook_shopify.tf"}}

{{ .SchemaMarkdown | trimspace }}
