---
page_title: "rudderstack_source_mailjet Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_source_mailjet (Resource)

This resource represents a MailJet event stream source. For more information check
https://www.rudderstack.com/docs/sources/event-streams/cloud-apps/mailjet/

## Example Usage

{{tffile "examples/source_mailjet.tf"}}

{{ .SchemaMarkdown | trimspace }}
