---
page_title: "rudderstack_source_dotnet Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_source_dotnet (Resource)

This resource represents a Dotnet event stream source. For more information check
https://www.rudderstack.com/docs/sources/event-streams/sdks/rudderstack-dotnet-sdk/

## Example Usage

{{tffile "examples/source_dotnet.tf"}}

{{ .SchemaMarkdown | trimspace }}
