---
page_title: "rudderstack_source_python Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_source_python (Resource)

This resource represents an Python event stream source. For more information check
https://www.rudderstack.com/docs/sources/event-streams/sdks/rudderstack-python-sdk/

## Example Usage

{{tffile "examples/source_python.tf"}}

{{ .SchemaMarkdown | trimspace }}