---
page_title: "rudderstack_source_ios_swift Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_source_ios_swift (Resource)

This resource represents an iOS Swift event stream source. For more information check
https://www.rudderstack.com/docs/sources/event-streams/sdks/rudderstack-swift-sdk/

## Example Usage

{{tffile "examples/source_ios_swift.tf"}}

{{ .SchemaMarkdown | trimspace }}
