---
page_title: "rudderstack_source_unity Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_source_unity (Resource)

This resource represents an Unity event stream source. For more information check
https://www.rudderstack.com/docs/sources/event-streams/sdks/unity/

## Example Usage

{{tffile "examples/source_unity.tf"}}

{{ .SchemaMarkdown | trimspace }}
