---
page_title: "rudderstack_source_webhook Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_source_webhook (Resource)

This resource represents a Webhook event stream source. For more information check
https://www.rudderstack.com/docs/stream-sources/webhook-source

## Example Usage

{{tffile "examples/source_webhook.tf"}}

{{ .SchemaMarkdown | trimspace }}
