---
page_title: "rudderstack_source_android_kotlin Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_source_android_kotlin (Resource)

This resource represents an Android Kotlin event stream source. For more information check
https://www.rudderstack.com/docs/sources/event-streams/sdks/kotlin-sdk/

## Example Usage

{{tffile "examples/source_android_kotlin.tf"}}

{{ .SchemaMarkdown | trimspace }}
