---
page_title: "rudderstack_source_cordova Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_source_cordova (Resource)

This resource represents a Cordova event stream source. For more information check
https://www.rudderstack.com/docs/stream-sources/rudderstack-sdk-integration-guides/rudderstack-cordova-sdk

## Example Usage

{{tffile "examples/source_cordova.tf"}}

{{ .SchemaMarkdown | trimspace }}
