---
page_title: "rudderstack_source_pagerduty Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_source_pagerduty (Resource)

This resource represents a PagerDuty event stream source. For more information check
https://www.rudderstack.com/docs/sources/event-streams/cloud-apps/pagerduty/

## Example Usage

{{tffile "examples/source_pagerduty.tf"}}

{{ .SchemaMarkdown | trimspace }}
