---
page_title: "rudderstack_source_canny Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_source_canny (Resource)

This resource represents a Canny event stream source. For more information check
https://www.rudderstack.com/docs/sources/event-streams/cloud-apps/canny/

## Example Usage

{{tffile "examples/source_canny.tf"}}

{{ .SchemaMarkdown | trimspace }}
