---
page_title: "rudderstack_source_olark Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_source_olark (Resource)

This resource represents an Olark event stream source. For more information check
https://www.rudderstack.com/docs/sources/event-streams/cloud-apps/olark/

## Example Usage

{{tffile "examples/source_olark.tf"}}

{{ .SchemaMarkdown | trimspace }}
