---
page_title: "rudderstack_source_go Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_source_go (Resource)

This resource represents a Go event stream source. For more information check
https://www.rudderstack.com/docs/stream-sources/rudderstack-sdk-integration-guides/rudderstack-go-sdk

## Example Usage

{{tffile "examples/source_go.tf"}}

{{ .SchemaMarkdown | trimspace }}
