---
page_title: "rudderstack_source_revenuecat Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_source_revenuecat (Resource)

This resource represents a RevenueCat event stream source. For more information check
https://www.rudderstack.com/docs/sources/event-streams/cloud-apps/revenuecat/

## Example Usage

{{tffile "examples/source_revenuecat.tf"}}

{{ .SchemaMarkdown | trimspace }}
