---
page_title: "rudderstack_source_java Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_source_java (Resource)

This resource represents a Java event stream source. For more information check
https://www.rudderstack.com/docs/stream-sources/rudderstack-sdk-integration-guides/rudderstack-java-sdk

## Example Usage

{{tffile "examples/source_java.tf"}}

{{ .SchemaMarkdown | trimspace }}
