---
page_title: "rudderstack_source_close_crm Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_source_close_crm (Resource)

This resource represents a Close CRM event stream source. For more information check
https://www.rudderstack.com/docs/sources/event-streams/cloud-apps/close-crm/

## Example Usage

{{tffile "examples/source_close_crm.tf"}}

{{ .SchemaMarkdown | trimspace }}
