---
page_title: "rudderstack_source_amp Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_source_amp (Resource)

This resource represents an AMP event stream source. For more information check
https://www.rudderstack.com/docs/sources/event-streams/sdks/rudderstack-amp-analytics/

## Example Usage

{{tffile "examples/source_amp.tf"}}

{{ .SchemaMarkdown | trimspace }}
