---
page_title: "rudderstack_source_iterable Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_source_iterable (Resource)

This resource represents an Iterable event stream source. For more information check
https://www.rudderstack.com/docs/sources/event-streams/cloud-apps/iterable/

## Example Usage

{{tffile "examples/source_iterable.tf"}}

{{ .SchemaMarkdown | trimspace }}
