---
page_title: "rudderstack_source_mailmodo Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_source_mailmodo (Resource)

This resource represents a Mailmodo event stream source. For more information check
https://www.rudderstack.com/docs/sources/event-streams/cloud-apps/mailmodo/

## Example Usage

{{tffile "examples/source_mailmodo.tf"}}

{{ .SchemaMarkdown | trimspace }}
