---
page_title: "rudderstack_source_adjust Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_source_adjust (Resource)

This resource represents an Adjust event stream source. For more information check
https://www.rudderstack.com/docs/sources/event-streams/cloud-apps/adjust/

## Example Usage

{{tffile "examples/source_adjust.tf"}}

{{ .SchemaMarkdown | trimspace }}
