---
page_title: "rudderstack_source_php Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_source_php (Resource)

This resource represents a PHP event stream source. For more information check
https://www.rudderstack.com/docs/sources/event-streams/sdks/rudderstack-php-sdk/

## Example Usage

{{tffile "examples/source_php.tf"}}

{{ .SchemaMarkdown | trimspace }}
