---
page_title: "rudderstack_source_reactnative Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_source_reactnative (Resource)

This resource represents a React Native event stream source. For more information check
https://www.rudderstack.com/docs/stream-sources/rudderstack-sdk-integration-guides/rudderstack-react-native-sdk

## Example Usage

{{tffile "examples/source_reactnative.tf"}}

{{ .SchemaMarkdown | trimspace }}
