---
page_title: "rudderstack_source_slack Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_source_slack (Resource)

This resource represents a Slack event stream source. For more information check
https://www.rudderstack.com/docs/sources/event-streams/cloud-apps/slack/

## Example Usage

{{tffile "examples/source_slack.tf"}}

{{ .SchemaMarkdown | trimspace }}
