---
page_title: "rudderstack_source_javascript Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-
  
---

# rudderstack_source_javascript (Resource)

This resource represents an Javascript Event Stream source. For more information check https://www.rudderstack.com/docs/stream-sources/rudderstack-sdk-integration-guides/rudderstack-javascript-sdk/

## Example Usage

{{tffile "examples/source_javascript.tf"}}

{{ .SchemaMarkdown | trimspace }}
