---
page_title: "rudderstack_source_segment Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_source_segment (Resource)

This resource represents a Segment event stream source. For more information check
https://www.rudderstack.com/docs/sources/event-streams/cloud-apps/segment/

## Example Usage

{{tffile "examples/source_segment.tf"}}

{{ .SchemaMarkdown | trimspace }}
