---
page_title: "rudderstack_source_facebook_lead_ads Resource - terraform-provider-rudderstack"
subcategory: ""
description: |-

---

# rudderstack_source_facebook_lead_ads (Resource)

This resource represents a Facebook Lead Ads event stream source. For more information check
https://www.rudderstack.com/docs/sources/event-streams/cloud-apps/facebook-lead-ads/

## Example Usage

{{tffile "examples/source_facebook_lead_ads.tf"}}

{{ .SchemaMarkdown | trimspace }}