---
page_title: "RudderStack Provider"
subcategory: ""
description: "Access the RudderStack control plane via Terraform to manage your source-destination configurations."
  
---

# RudderStack Provider

The RudderStack Terraform Provider allows you to access your RudderStack control plane via Terraform and manage your source-destination configurations programmatically.

## Example Usage

{{tffile "examples/main.tf"}}


> **:warning: Breaking Change**
> 
> Note that from the provider versions 1.0.0 and above, the schema of `onetrust_cookie_categories` property has been changed. Please refer to the examples in the destinations` resource guide.

{{ .SchemaMarkdown | trimspace }}
